@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

@font-face {
    font-family: Acme;
    src: url('../fonts/Acme-Regular.ttf');
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/Myriad-Pro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "DinR";
    src: url("../fonts/dinR.woff2") format("truetype");
}

@font-face {
    font-family: "DINPRO-BLACK";
    src: url("../fonts/DINPRO-BLACK.OTF") format("truetype");
}

@font-face {
    font-family: "DINPRO-BOLD";
    src: url("../fonts/DINPRO-BOLD.OTF") format("truetype");
}

body {
    background: #fff;
    font-family: 'DinR';
    color: #4e4e4e;
    line-height: 22px;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'DINPRO-BOLD', sans-serif;
    color: #4e4e4e;
}

h1 {
    font-size: 36px;
    color: #fff;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 400;
    line-height: 24px;
}

h4 {
    font-size: 16px;
}

a {
    color: #F47115;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #d43133;
}
.border-bottom{
    border-bottom: 1px solid #F47115 !important;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn-primary {
    padding: 8px 20px;
    background: #F47115;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #F47115;
    outline: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}
button.focus, button:focus {
    outline: 0;
    box-shadow: none !important;
}
.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2 {
    font-size: 30px;
    margin-top: 20px;
}

.centerAbout h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.centerContact {
    text-align: center;
    padding-bottom: 25px;
}

.media>.pull-left {
    margin-right: 20px;
}

.media>.pull-right {
    margin-left: 20px;
}

body>section {
    padding: 20px 0;
}

.center {
    text-align: center;
    padding-bottom: 35px;
}

.centerAbout {
    text-align: center;
    padding-bottom: 15px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}



.stuccoIntro {
    font-size: 150%;
    font-family: 'Acme';
    color: #F47115;
}

#about {
    padding-bottom: 40px;
}

.nav-tabs>li {
    margin-bottom: 0px;
    border-bottom: 1px solid #e6e6e6;
}

.nav-tabs {
    border-bottom: transparent;
    border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
    background: #f5f5f5;
    color: #666;
    border-radius: 0;
    border: 0 none;
    line-height: 24px;
    margin-right: 0;
    padding: 13px 15px;
}

.nav-tabs li:last-child {
    border-bottom: 0 none;
}

.nav-stacked>li+li {
    margin-top: 0;
}

.nav-tabs>li>a:hover {
    background: #1f1f20;
    color: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 0;
    color: #fff;
    background: #1f1f20;
    position: relative;
}

.nav-tabs>li.active>a:after {
    position: absolute;
    content: "";
    width: auto;
    height: auto;
    border-style: solid;
    border-color: transparent transparent transparent #1f1f20;
    border-width: 25px 22px;
    right: -44px;
    top: 0;
}

.tab-wrap {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.tab-content {
    padding: 20px;
}

.tab-content h2 {
    margin-top: 0;
}

.tab-content img {
    border-radius: 4px;
}

.testimonial h2 {
    margin-top: 0;
}

.testimonial-inner {
    color: #858586;
    font-size: 14px;
}

.testimonial-inner .pull-left {
    border-right: 1px solid #e7e7e7;
    padding-right: 15px;
    position: relative;
}

.testimonial-inner .pull-left:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    margin-top: -5px;
    background: #FFF;
    -webkit-transform: rotate(45deg);
    border: 1px solid #e7e7e7;
    right: -5px;
    border-left: 0 none;
    border-bottom: 0 none;
}


.scroll-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 36px;
    color: #F47115;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.scrolling {
    margin-top: 125px !important;
}

.cabezalFeature {
    border-bottom: 1px solid #f47115;
}
.overlay-video {    
    height: 100vh;    
}
.ancla:before {
    margin-top: 125px;
    height: 580px;
    visibility: hidden;
}
.go2top, .go2top:focus {
    position: fixed;
    right: 15px;
    bottom: 8px;
    color: #999;
    width: 38px;
    height: 38px;
    border: solid 2px #999;
    border-radius: 50% !important;
    text-align: center;
    padding: 7px 0 0 1px;
    z-index: 99999;
    font-size: 18px;
    line-height: 1;
}


.imgDivStucco {
    margin-right: 10px;
    height: 20px;
}

.services-section {
    margin-top: -60px!important;
}

.tile-services {
    margin-top: 20px!important;
}

/* Preloader
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/preloader.gif);
}*/
.scroll-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 36px;
    color: #F47115;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.today{
    margin-top: 50px;
}