/* lg */ 
@media (min-width: 1200px) {


}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .projects .featured_gallery .gallery_iner img {
    height: 200px;
  }
  .our-team{ margin-bottom: 30px; }
  .navbar-nav > li {
    margin-right: 6px !important;
    padding-bottom: 28px;
    font-family: Acme;
    font-size: 18px;
  }
}

/* xs */
@media (max-width: 767px) {
  body > section {
    padding: 10px 0;
    padding-bottom: 10px;
  }


}

@media (max-width: 600px) {
  .projects .featured_gallery .gallery_iner img {
    max-width: 100%;
    width: 480px;
    height: 200px;
    border: 2px solid #ffffff;
  }
  .owl-theme .owl-controls {
    margin-top: 200px;
    text-align: center;

  }
  .w-400{
    width: auto;
  }
  .imgDivStucco {
    margin-right: 0px;
  }
  .pt-6 {
    padding-top: 6rem;
  }
  .center {
    text-align: center;
    padding-bottom: 15px;
  }
  .texto-encabezado h1 {
    margin-top: 7rem;
    text-align: center;
  }
  .navbar-nav {
    text-align: center;
  }

}
@media (max-width: 480px) {

}
@media (max-width: 400px) {
  .our-team .pic{
    width: 150px;
    height: 150px;
  }
  .our-team .social{ top: 20px; }

}
@media (max-width: 320px) {



}
