.banner_area {
    background: url("../../assets/images/partners/partner_bg.png") no-repeat fixed;
    background-attachment: scroll;
    background-size: auto;
    background-size: cover;
    height: 50vh;
}
.texto-encabezado h1{
    margin-top: 4rem;
    text-align: center;
}
.ruta {
    background: #F47115;

}
.ruta a{
    color: #ffffff !important;
    text-decoration: underline;
}
.ruta a:hover {
    text-decoration: none;
    color: #000000;

}
.paginas-internas .ruta a {
    color: #fff !important;
    text-decoration: underline;
}
