
.gallery-container .tz-gallery .gallery_iner img {
    max-width: 100%;
}
.text-sm-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}
.ruta {
    background: #F47115;
}
.ruta a {
    color: #ffffff !important;
    text-decoration: underline;
}
.banner_area {
    background: url("../../assets/images/partners/partner_bg.png") no-repeat fixed;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.texto-encabezado h1{
    margin-top: 3.50rem;
    text-align: center;
}
.divStucco {
    background-color: black!important;
    height: 20px;
}
