
.fotorama__arr--prev:before {
    content: '\f104';
    font-family: "FontAwesome";
    font-weight: 900;
}
.fotorama__arr--next {
    right: 0;
}
.fotorama__arr--next:before {
    content: '\f105';
    font-family: "FontAwesome";
    font-weight: 900;
}

.fotorama__fullscreen-icon:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.fotorama__fullscreen-icon:before {
    content: '\f065';
    font-family: "FontAwesome";
    font-weight: 900;
}
