.banner_area {
    background: url("../../assets/images/partners/partner_bg.png") no-repeat fixed;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.texto-encabezado h1{
    margin-top: 3.50rem;
    text-align: center;
}
.ruta {
    background: #F47115;

}
.ruta a{
    color: #ffffff !important;
    text-decoration: underline;
}
.ruta a:hover {
    text-decoration: none;
    color: #000000;

}
.paginas-internas .ruta a {
    color: #fff !important;
    text-decoration: underline;
}
.divStucco {
    background-color: black!important;
    height: 20px;
}
.titleAside {
    font-family: Acme;
}
body > section {
    padding: 20px 0;
}
.iconServiceAside:hover {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
}
.text-sm-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

